<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/328d1c4d-f782-4966-b16f-c56011c25ecd/resourceGroups/DefaultResourceGroup-EA/providers/Microsoft.ContainerRegistry/registries/WebApplication120220121001017</ContainerResourceId>
    <ContainerResourceName>WebApplication120220121001017</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplication120220121001017.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/328d1c4d-f782-4966-b16f-c56011c25ecd/resourceGroups/TestBot/providers/Microsoft.Web/sites/FirstWebAppMiddleWare</ResourceId>
    <ResourceGroup>TestBot</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://firstwebappmiddleware.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://firstwebappmiddleware.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ef86538a-247f-4cd3-8606-a9b6533e8c64</ProjectGuid>
  </PropertyGroup>
</Project>